<!-- Container START -->
<div class="container my-4">
  <!-- Row START -->
  <div class="row justify-content-center">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7">
      <!-- Card START -->
      <div class="card my-4">
        <div class="card-header text-center">
					<h3>プロフィール編集</h3>
				</div>
        <div class="card-body">
          <%= form_with(model: @user, url: profile_path) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">
              <%= f.label :username %>
              <%= f.text_field :username, class: 'form-control' %>
            </div>

						<div class="text-end mt-2">
  						<%= f.submit '更新', class: 'btn btn-warning' %>
						</div>          
          <% end %>
        </div>
      </div>
      <!-- Card END -->
    </div>
    <!-- Main content END -->
  </div>
  <!-- Row END -->
</div>
<!-- Container END -->
