<%= link_to read_activity_path(activity), class: "dropdown-item text-wrap border-bottom #{'read' if activity.read?}", method: :patch do %>
  <object><%= link_to activity.subject.user.username, user_path(activity.subject.user) %></object>
    があなたの
  <object><%= link_to '投稿', posts_path(anchor: "post-#{activity.subject.post.id}") %></object>
    に
  <object><%= link_to 'コメント', posts_path(anchor: "comment-#{activity.subject.id}") %></object>
    しました
  <div class="me-auto">
    <%= l activity.created_at, format: :short %>
  </div>
<% end %>