<!-- =======================
Header START -->

<header class="navbar-light header-static bg-mode sticky-top border-bottom">
  <!-- Navbar START -->
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <!-- App name START -->
      <%= link_to posts_path, class: "navbar-brand" do %>
        <%= image_pack_tag "logo_light.png", class: "light-mode-item" %>
        <%= image_pack_tag "logo_dark.png", class: "dark-mode-item" %>  
      <% end %>
      <!-- App name END -->
      <!-- Responsive navbar toggler -->
      <div class="d-flex justify-content-end align-items-center">
        <div class="dropdown me-3">
          <button class="btn btn-light dropdown-toggle" type="button" id="activityDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bell fa-lg"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="activityDropdownMenuButton">
            <%= render 'shared/header_activities'%>
          </ul>
        </div>
        <button class="navbar-toggler icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-animation">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>

        <!-- Main navbar START -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav navbar-nav-scroll me-auto text-nowrap">
            <!-- Nav item -->
            <li class="nav-item">
              <%= link_to "イメージ作成", new_post_path, class: "nav-link"  %>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "nav-link"  %>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
              <%= link_to "ログアウト", logout_path, class: "nav-link", method: :delete %>
            </li>
            <!-- Dark mode switch START -->
            <li class="nav-item">
              <div class="modeswitch-wrap nav-link" id="darkModeSwitch">
                <h7>ダークモード</h7>
                <div class="modeswitch-item">
                  <div class="modeswitch-icon"></div>
                </div>
              </div>
            </li>
            <!-- Dark mode switch END -->
          </ul>
        </div>
      </div>
      <!-- Main navbar END -->
    </div>
  </nav>
  <!-- Navbar END -->
</header>

<!-- =======================
Header END -->
