<!-- Card START -->
<div class="card my-4" id="post-<%= post.id %>">
  <!-- Card header START -->
  <div class="card-header border-0 pb-0">
    <!-- User name & Post time -->
    <div class="d-flex align-items-center justify-content-between" >
      <div>
        <h6 class="mb-0"><%= post.user.username %></h6>
        <p class="small mb-0"><%= l post.created_at, format: :short %></p>
      </div>
      <% if current_user&.own?(post)%>
        <%= link_to post_path(post), class: 'mr-3 delete-button', method: :delete, data: { confirm: '本当に削除しますか？' } do %>
          <i class="fa-solid fa-trash-can pl-1"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Card header END -->

  <!-- Card body START -->
  <div class="card-body">
    <!-- Post Contents -->
    <div>
      <p><%= post.body %></p>
      <%= image_tag post.image.url %>
    </div>
    <!-- Comment Input Form-->
    <%= render 'comments/form', post: post, comment: comment %>
    <!-- Show Comments -->
    <%= render 'comments/comments', comments: post.comments.includes(:user).order(created_at: :desc), post: post %>
  </div>
  <!-- Card body END -->
</div>
<!-- Card END -->
